<% @title = "About" %>

<h1>Learn about Chordle!</h1>
<hr>
<p>Chordle is an app on a mission to make your life easier and less stressful.</p> 
<p>We take all the anxiety out of choosing which chore to do and instead randomly assign that chore to you!</p>
<p>Say word, son!</p>
