<div class="center jumbotron">
    <h1>Hello. My name is Chordle</h1>

    <h2>Stop feeling overwhelmed by the todo list and start getting stuff done.</h2>

    <%= link_to "Let me help!", signup_path, class: "btn btn-lg btn-primary" %>
</div>