<div class="center jumbotron">
    <%#= image_tag  "chorebot_home.svg" %>
    <h1>Hello. My name is Chordle.</h1>

    <h2>Stop feeling overwhelmed by the todo list and start getting stuff done.</h2>

    <%= link_to "Let me help!", signup_path, class: "btn btn-lg btn-home" %>
</div>

<hr>

<h3>How it works:</h3>

<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Add a chore.</div>
            <div class="panel-body">
                Give Chordle a chore and how long you think it will take to complete it.
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Give me some time...</div>
            <div class="panel-body">
                Let Chordle know about how much time you have to get some work done.
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Receive a chore!</div>
            <div class="panel-body">
                Chordle with give you a random chore to complete within the allotted time.
            </div>
        </div>
    </div>
</div>