<!-- Trigger the modal with a button -->
<%= button_tag 'Receive a chore modal style', class:'btn btn-warning', data: { toggle: ("modal"), target: ("#myModal")} %>
<!--utton type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">Open Modal</button-->

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Chordle says:</h4>
      </div>
      <div class="modal-body">
        <p><%= @chordle_says %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>