<footer class="footer">
    <small>
        Chordle by Azuredin Digital, copyright 2018 
    </small>

    <nav>
        <ul>
            <!--li><%#= link_to "About",   about_path %></li-->
            <!--li><%#= link_to "Contact", contact_path %></li-->
            <strong>Send feedback to:</strong> <%= mail_to "feedback@chordle.com" %>
        </ul>
    </nav>
</footer>